.game {
    // display: none;
    height: 100%;
    background-color: #130c1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .trash {
        position: absolute;
        height: 14.2867142857%;
        aspect-ratio: 1/1;
        bottom: 36px;
        left: 36px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        background-image: url(../assets/sprites/trash-close.png);
        background-repeat: no-repeat;
        background-size: cover;
        border: none;
        z-index: 99;
    }

    .trash:hover {
        background-image: url(../assets/sprites/trash-open.png);
    }
    
    #room {
        height: 100%;
        width: 100vh;
        aspect-ratio: 1/1;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        background-color: #130c1a;

            .tile {
                height: 14.28%;
                aspect-ratio: 1/1;
                // border: #291c38 1px solid;
                position: relative;
                margin: 0;
                background-repeat: no repeat;
                background-size: contain;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }    
            
            .hover {
                opacity: 25%;
            }

            .row {
                height: 11.1%;
                // width: 100%;
                display: flex;
            }
    }
}

@media screen and (max-width: 1000px) {
    #area {
        .game {
            height: 100%;

            .trash {
                bottom: 18px;
                left: 16px;
            }
            
            #room {
                height: fit-content;
                width: 100%;

                .tile {
                    height: auto;
                    width: 14.28%;
                }
            }
        }
    }
}