@font-face {
    font-family: Noelle;
    src: url(../assets/fonts/noelle.otf),
         url(https://abitofkake.github.io/litdgame/assets/fonts/noelle.otf);
}

@font-face {
    font-family: Field;
    src: url(/assets/fonts/the-field-of-hopes-and-dreams.otf),
         url(https://abitofkake.github.io/litdgame/assets/fonts/the-field-of-hopes-and-dreams.otf);
}
@font-face {
    font-family: Bit;
    src: url(/assets/fonts/8bitoperator-jve-light.otf),
         url(https://abitofkake.github.io/litdgame/assets/fonts/8bitoperator-jve-light.otf);
}
@font-face {
    font-family: Rune;
    src: url(/assets/fonts/runede.otf),
         url(https://abitofkake.github.io/litdgame/assets/fonts/runede.otf);
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Bit, Field, Rune;
}

h2 {
    font-size: 36px;
    font-weight: normal;
}

html, body {
 height: 100%;
 max-height: 100vh;
 overflow: hidden;
 position: relative;
 background-color: #130c1a;
}

::-webkit-scrollbar {
  width: 16px;
  margin-right: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #130c1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #fff;
}

@media screen and (max-width: 1100px) {
    h2 {
        font-size: 28px;
    }   
}

@media screen and (max-width: 1000px) {
    ::-webkit-scrollbar {
        display: none;
    }

    p, span {
        font-size: 12px ;
    }

    h2 {
        font-size: 24px;
    }   
}

@media screen and (max-width: 600px) {
    p, span {
        font-size: 10px;
    }
}